.cbutton {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  border: none;
  background: black;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.outer {
  position: relative;
}
.button {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer button {
  z-index: 9;
  cursor: pointer;
}
.button button {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  border: none;
  background: black;
}
.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span {
  border-radius: 50%;
}
.outer span:nth-child(1) {
  filter: blur(7px);
}
.outer:hover span:nth-child(2) {
  filter: blur(14px);
}
.outer {
  animation: rotate 1.5s linear infinite;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.Box {
  color: chartreuse;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 500px;
  background-color: darkblue;
  margin-top: 20px;
  left: 32%;
  border-radius: 20px;
}
